<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
    <h2>Latest Mars News</h2>
    <h3> {{ mars.title }}</h3>
    <h3>{{ mars.paragraph }}</h3>
    <h2>Featured Mars image</h2>
    <img src="{{ mars.image }}" width="400" height="400" alt="Mars">
   
    <h2>Mars Facts</h2>
    <div>{{ mars.table | safe }}</div>
    <h2>Mars Hemispheres</h2>
    {% for img in mars.images%}
    <div> 
    
      <br>
      <img src="{{ img }}" width="400" height="400" alt="Mars">
  


    </div>
    {% endfor %}
  </div>
  </div>
</body>

</html>
